@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #171717;
  --body-text: #222326;
  --brand-blue: #033D75;
  --accent-coral: #FF6B35;
  --accent-warm-red: #D64545;
  --accent-gold: #F4A259;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: 'Segoe UI'
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--body-text);
  font-family: var(--font-open-sans), Arial, sans-serif;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

header, footer {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lora), serif;
}

h1 {
    color: var(--brand-blue);
    font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}
